{% extends 'base.html' %}

{% block content %}
  <div class="col-xl-6 offset-xl-3">
    <div id='full_calendar'></div>
  </div>

    <!--script>
      document.addEventListener('DOMContentLoaded', function() {
        console.log("Initialize calendar");
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid' ]
        });

        calendar.render();
      });

    </script-->
    <script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('full_calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'list' ],
      defaultView: 'dayGridMonth',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      selectable: true,
      editable: true,
      eventLimit: true,
      eventClick: function(info) {
        info.jsEvent.preventDefault(); // don't let the browser navigate
        if (info.event.url) {
          window.open(info.event.url);
        }
      },
      events: [
        {
          id: 1,
          title: 'All Day Event',
          start: '2019-05-01'
        },
        {
          title: 'Long Event',
          start: '2019-05-07',
          end: '2019-05-10'
        },
        {
          groupId: '999',
          title: 'Repeating Event',
          start: '2019-05-09T16:00:00'
        },
        {
          groupId: '999',
          title: 'Repeating Event',
          start: '2019-05-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2019-05-11',
          end: '2019-05-13'
        },
        {
          title: 'Meeting',
          start: '2019-05-12T10:30:00',
          end: '2019-05-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2019-05-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2019-05-12T14:30:00'
        },
        {
          title: 'Birthday Party',
          start: '2019-05-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2019-05-28'
        }
      ]
    });

    calendar.setOption('locale', 'pl');
    calendar.render();
  });

</script>
    
{% endblock %}
