{% extends 'base.html' %}

{% load humanize %}
{% load i18n %}

{% block page_title %}
<i class="icon ion-ios-cart"></i>
<div>
    <h4> {% trans 'Deals' %} </h4>
    <p class="mg-b-0">{% trans 'Best deals from various tabletop games online shops' %}</p>
</div>
{% endblock %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr class="table-expand-row">
      <th width="200">{% trans 'Shop name' %}</th>
      <th>{% trans 'Product name' %}</th>
      <th class="text-right" width="150">{% trans 'Price' %}</th>
      <th class="text-right" width="150">{% trans 'Full Price' %}</th>
      <th class="text-right" width="150">{% trans 'Discounted' %}</th>
    </tr>
  </thead>
  <tbody>

    {% for offer in offers %}
    <tr class="table-expand-row" data-open-details>
        <td>{{offer.shop}}</td>
        <td>
          <a href="{{offer.offer_url}}" target="_blank">
            {{offer.name}}</td>
          </a>
        <td class="text-right">{{offer.price | floatformat:2}}</td>
        <td class="text-right">{{offer.full_price | floatformat:2}}</td>
        <td class="text-right">{{offer.discount_value | floatformat:2}} (-{{offer.discount_percentage}}%)</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
