<script>
     $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
</script>
{% if minified %}
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/ratings/css/jquery.raty.min.css">
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/ratings/js/jquery.raty.min.js"></script>
{% else %}
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/ratings/css/jquery.raty.css">
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/ratings/js/jquery.raty.js"></script>
{% endif %}
<script type="text/javascript">
(function($) {
  'use strict';
  $.fn.rating = function() {
    $(this).each(function(index){
        var stars = $(this);
        var category = stars.data('category'),
        id = stars.data('id');
        stars.raty({
          score: function() {
            return stars.attr('data-score');
          },
          readOnly: function() {
            return parseInt(stars.attr('data-score')) != 0;
          },
          click: function(score, evt) {
            var current_rating = 0;
            if (score != null) {
              current_rating = score;
            }
            $.ajax({
              url: "{{rate_url}}",
              type: "POST",
              data: {
                "object_id": id,
                "category": category, 
                "rating": current_rating
              },
              statusCode: {
                403: function(jqXHR, textStatus, errorThrown) {
                  // Invalid rating was posted or invalid category was sent
                  console.log(errorThrown);
                },
                200: function(data, textStatus, jqXHR) {
                  if(category){
                    $(".overall-rating-" + id + ".category-" + category).text(data["overall_rating"]);
                  }else{
                    $(".overall-rating-" + id).text(data["overall_rating"]);
                  }

                  stars.raty('readOnly', true);  
                }
              }
            });
          },
          cancel: false,
          starType: 'i',
          path: "{{ STATIC_URL }}pinax/ratings/img/"
        });
      }
    );
  };
})(jQuery);
$('.user-rating').rating()
</script>
