{% extends 'base.html' %}

{% load pinax_ratings_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  
  {% for game in games %} 
    {% if forloop.counter0|divisibleby:4 %}
    <div class="row">
    {% endif %}
      <div class="col-md-6 col-lg-3 mg-t-20 mg-md-t-0 pb-4">
        {% include 'games/partials/game_card.html' %}
      </div><!-- col -->
    {% if forloop.counter|divisibleby:4 or forloop.last %}</div>{% endif %}
  {% endfor %}
 
  {% load_rating_js "/api/v1/games.rate" %}
{% endblock %}

