{% load crispy_forms_tags %}
{% load static %} 
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Plus Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="{% static "lib/@fortawesome/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
    <link href="{% static "lib/ionicons/css/ionicons.min.css" %}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static "css/bracket.css" %}">
  </head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> bracket <span class="tx-info">plus</span> <span class="tx-normal">]</span></div>
        <div class="tx-center mg-b-60">The Admin Template For Perfectionist</div>

        <form method="post">
          {% csrf_token %}
          {% crispy form %}
          <button type="submit" class="btn btn-info btn-block">{% trans "Sign In" %}</button>

          <div class="mg-t-60 tx-center">{% trans "Not yet a member?" %} <a href="{% url 'users:register' %}" class="tx-info">{% trans "Sign Up" %}</a></div>
        </form>
      </div><!-- login-wrapper -->
    </div><!-- d-flex -->

    <script src="{% static "lib/jquery/jquery.min.js" %}"></script>
    <script src="{% static "lib/jquery-ui/ui/widgets/datepicker.js" %}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  </body>
</html>

