{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}


  <div class="row mg-t-80">
    <div class="col-xl-6 offset-xl-3">
      <form method="POST">
      <div class="form-layout form-layout-4">
        <h6 class="br-section-label mg-t-0">{% trans "Change password" %}</h6>
        <p class="br-section-text">{% trans "Setup new password for your account" %} </p>
        {% crispy form %}
        <button type='submit' class='btn btn-primary'> {% trans "Change password" %} </button>
      </div><!-- form-layout -->
      </form>
    </div><!-- col-6 -->
  </div>

{% endblock %}
