{% load pinax_ratings_tags %}
{% load i18n %}

<div class="card card-block bd-0 shadow-base pd-20">
  <a href=""><img src="https://via.placeholder.com/844x563" class="img-fluid" alt=""></a>
  <div class="d-flex justify-content-between align-items-center mg-t-20">
    <div>
      <h6 class="tx-14 tx-normal mg-b-2"><a href="" class="tx-inverse">{{game.name}}</a></h6>
      <span class="tx-12">{% if game.bgg_id %} {{game.bgg_id}} {% else %} &nbsp; {% endif %}</span>
    </div>
    <div class="tx-right">
      <span class="tx-warning d-block">
          <div data-id={{game.id}} data-category="player" data-score={% user_rating request.user game "player" %} class="user-rating"> &nbsp;</div>
      </span>

      {% overall_rating game "player" as players_rating %}
      <span class="tx-12">
      {% if players_rating == 0 %}
        <span class='overall-rating-{{game.id}} category-player'>{% trans "no" %} </span> {% trans "Rating" %}
      {% else %}
        <span class='overall-rating-{{game.id}} category-player'>{{players_rating}}</span> {% trans "Rating" %}
      {% endif %}
      </span>
    </div>
  </div><!-- d-flex -->
</div>
