{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}


  <div class="row mg-t-80">
    <div class="col-xl-6 offset-xl-3">
      <form method="POST">
      <div class="form-layout form-layout-4">
        {% if form.instance.pk %}
            <h6 class="br-section-label mg-t-0">{% trans 'Edit' %} {{form.instance.name}} </h6>
            <p class="br-section-text">{% trans 'Edit &amp; Verify existing shop instance' %} </p>
        {% else %}
            <h6 class="br-section-label mg-t-0">{% trans 'Create new shop' %}</h6>
            <p class="br-section-text">{% trans 'Create &amp; Verify new shop instance' %} </p>
        {% endif %}
        {% crispy form %}
      </div><!-- form-layout -->
      </form>
    </div><!-- col-6 -->
  </div>

{% endblock %}
