{% extends "base.html" %}

{% load i18n %}
{% block content %}
<form method="post">{% csrf_token %}
    <p>{% blocktrans with object=object %} "Are you sure you want to delete <b>{{ object }}</b>?"{% endblocktrans %}</p>
    <input type="submit" value="Confirm">
</form>
{% endblock %}
