{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  {% for shop in shops %} 
  {% if forloop.counter0|divisibleby:4 %}
  <div class="row">
  {% endif %}
    <div class="col-md-6 col-lg-3 mg-t-20 mg-md-t-0 pb-4">
      {% include 'shops/partials/shop_card.html' %}
    </div><!-- col -->
  {% if forloop.counter|divisibleby:4 or forloop.last %}</div>{% endif %}
  {% endfor %}

  
  {% if suggestion_form %}
  <div class="row mg-t-80">
    <div class="col-xl-6 offset-xl-3">
      <form method="POST" action="?next={% url 'shops:list' %}">
      <div class="form-layout form-layout-4">
        <h6 class="br-section-label mg-t-0">{% trans "Can't find your favourite shop?" %}</h6>
        <p class="br-section-text mg-b-20 mg-l-20">{% trans "Fill the form below and we'll add it to the list." %} </p>
        {% crispy suggestion_form %}
      </div><!-- form-layout -->
      </form>
    </div><!-- col-6 -->
  </div>
  {% endif %}


  <h6 class="tx-inverse tx-uppercase tx-bold tx-14 mg-t-80 mg-b-10"> {% trans "List of unverified shops" %} </h6>
  <p class="br-section-text">{% trans "Please verify them as soon as possible" %}</p>
  <div class="row">
    <div class="col-xl-6 mg-t-20 mg-lg-t-0 offset-xl-3 ">
      <div class="list-group list-group-striped">
        {% for unconfirmed in awaiting_confirmation %} 
        <div class="list-group-item pd-y-15 pd-x-20 d-xs-flex align-items-center justify-content-start">
          <img src="https://via.placeholder.com/500" class="wd-48 rounded-circle" alt="">
          <div class="mg-xs-l-15 mg-t-10 mg-xs-t-0 mg-r-auto">
              <a href="{{unconfirmed.website}}"><p class="mg-b-0 tx-inverse tx-medium">{{unconfirmed.name}}</p></a>
              <a href="{{unconfirmed.website}}"><span class="d-block tx-13">{{unconfirmed.website}}</span></a>
          </div>
          <div class="d-flex align-items-center mg-t-10 mg-xs-t-0">
            <a href="#" class="btn btn-outline-success btn-icon">
              <div class="tx-20"><i class="icon ion-md-checkmark-circle"></i></div>
            </a>
            <a href="{% url 'shops:delete' slug=unconfirmed.slug %}" class="btn btn-outline-danger btn-icon mg-l-5">
              <div class="tx-20"><i class="icon ion-md-remove-circle"></i></div>
            </a>
            <a href="{% url 'shops:edit' slug=unconfirmed.slug %}" class="btn btn-outline-primary btn-icon mg-l-5">
              <div class="tx-20"><i class="icon ion-md-create"></i></div>
            </a>
          </div>
        </div><!-- list-group-item -->
        {% endfor %}
      </div><!-- list-group -->
    </div><!-- col-6 -->
  </div>


{% endblock %}


