{% load i18n %}
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between bg-white pd-y-4">
      <h6 class="mg-b-0 tx-14 tx-inverse">&nbsp;</h6>
      <div class="card-option tx-24">
        {% if shop.elastic_name %}
        <a href="{% url 'deals' %}?shop={{shop.elastic_name}}" target='_blank' class="tx-gray-600 mg-l-10 position-relative">
            <i class="fas fa-shopping-cart"></i>
        </a>
        {% endif %}
        <a href="" class="tx-gray-600 mg-l-10 position-relative">
          <i class="far fa-comment"></i>
          <span class="badge badge-pill pos-absolute badge-primary tx-10" style="left:10px; min-width: 25px;">99+</span>
        </a>
        <a href="{% url "shops:like" slug=shop.slug %}" class="tx-gray-600 mg-l-10 position-relative {% if shop.user_choice %} text-danger {% endif %}">
            <i class="{% if shop.user_choice %} fas fa-heart {% else %}far fa-heart{% endif %}"></i>
          <span class="badge badge-pill pos-absolute badge-primary tx-10" style="left:10px; min-width: 25px;">{{shop.likes_count}}</span>
        </a>
      </div><!-- card-option -->
    </div>

    <div class="card-body color-gray-lighter text-center">
        <h3 class="mg-b-15"><a href='{{shop.website}}'>{{shop.name}}</a></h3>
        <p class="mg-b-0"><i>{{shop.short_description}}</i></p>
    </div><!-- card-body -->
    <div class="card-footer tx-center">
      <a href="{{shop.facebook}}" target='_blank'><i class="fas fa-dollar-sign"></i></a>
      <a href="{{shop.facebook}}" target='_blank'><i class="fas fa-cart-plus"></i></a>
      <a href="{{shop.facebook}}" target='_blank'><i class="fas fa-box-open"></i></a>
      <a href="{{shop.facebook}}" target='_blank'><i class="fas fa-surprise"></i></a>
      <a href="{{shop.facebook}}" target='_blank'><i class="fas fa-phone"></i></a>
      
        
      {% comment %}  
      {% if shop.facebook %}
      <a href="{{shop.facebook}}" target='_blank'><i class="fab fa-facebook-f"></i></a>
      {% endif %}
      <a href={{shop.website}} target='_blank'><i class="fas fa-globe"></i></a>
      {% endcomment %}
    </div><!-- card-footer -->
  </div><!-- card -->
