{% load crispy_forms_field %}

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="{{icon}} tx-16 lh-0 op-6"></i></span>
  </div>
  {% crispy_field field %}
</div>
