/* Extend bracket css styles */
.fc-event, 
.fc-event:hover{
    color: #fff !important;
}

.user-rating{
    font-size:8px;
}

.br-sideleft {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.br-sideleft-menu {
  margin-bottom: auto;
}

.br-sideleft-menu.bottom {
  bottom: 0;
  margin-bottom: 0;
}
